
::-webkit-scrollbar {
    display: none;
}

.container-register{
    width: 100%;
    min-height: 93.2vh;
    border: 1px solid black;
   
    
}

.container-form{
    position: absolute;
    width: 450px;
    right:0;
    margin-top: 5vh;
    box-sizing: border-box;
    margin-top: vh;
    margin-right: 10vw;
    background-color: whitesmoke;
    border-radius: 3px;
}
.form-register{
    margin-top: 1em;
    padding: 40px 30px;
    
  // border: 1px solid rgb(192, 40, 40);
}
.form-order{
    box-sizing: border-box;
    
   
   // border: 1px solid rgb(17, 228, 27);
}
.input-form{

     width: 100%;
     
     box-sizing: border-box;
}
h1{
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  margin-top: 1.5rem;
  color:hsl(146, 93%, 41%);
}
h4{
  text-align: center;
  padding: 0.5rem 0;
 
}

.buttons-form{
    display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  box-sizing: border-box;
  right: 0;
}
.buttons-form button{
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 30px;
}
.imagen-fondo{
  position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.imagen-fondo img{
  position: relative;
    top: 50%;
    left: 50%;
    object-fit:cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
}

  @media screen and (max-width:500px) {

      .container-form{
        width: 100%;
        margin: auto;
        
      }
  }

