<div class="container-register">
  <div class="void-space"></div>
  <div class="container-form">
    <h1>Registro</h1>
    <h4>El boton de registrarse aparecera cuando complete correctamente el formulario</h4>
    <div class="form-register">
      <div class="form-order">
        <mat-form-field appearance="fill" class="input-form"> <!--Formulario del nombre-->
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Escribe tu nombre"
            type="text"
            id="name"
            name="name"
            class="form-control input-form"
            required
            minlength="3"
            appForbiddenName="bob"
            [(ngModel)]="fullname1.name"
            #name="ngModel"
          />

          <mat-error
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert"
          >
            <div *ngIf="name.errors?.['required']">El nombre es requerido.</div>
            <div *ngIf="name.errors?.['minlength']">
              El nombre debe tener como mínimo 3 caracteres.
            </div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-order">
        <mat-form-field appearance="fill" class="input-form"><!--Formulario de apellido-->
          <mat-label>Apellido</mat-label>
          <input
            matInput
            placeholder="Escribe tu apellido"
            type="text"
            id="lastname"
            name="lastname"
            class="form-control input-form"
            required
            minlength="2"
            [(ngModel)]="fullname1.lastname"
            #lastname="ngModel"
          />

          <mat-error
            *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
            class="alert"
          >
            <div *ngIf="lastname.errors?.['required']">
              El apellido es requerido.
            </div>
            <div *ngIf="lastname.errors?.['minlength']">
              El apellido debe tener como mínimo 2 caracteres.
            </div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-order">
        <mat-form-field class="example-full-width input-form" appearance="fill"><!--formulario de email usando formControl-->
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            id="email"
            name="email"
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
            [(ngModel)]="usuario1.email"
            placeholder="Ej. hola@ejemplo.com"
            
          />
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') &&!emailFormControl.hasError('required')">
            Por favor ingrese un Email válido
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            El Email es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-order">
        <mat-form-field appearance="fill" class="input-form"><!--Formulario de direccion-->
          <mat-label>Dirección (domicilio)</mat-label>
          <input
            matInput
            placeholder="Escribe tu dirección (domicilio)"
            type="text"
            id="address"
            name="address"
            class="form-control input-form"
            required
            minlength="4"
            [(ngModel)]="usuario1.address"
            #address="ngModel"
          />

          <mat-error
            *ngIf="address.invalid && (address.dirty || address.touched)"
            class="alert"
          >
            <div *ngIf="address.errors?.['required']">
              El domicilio es requerido.
            </div>
            <div *ngIf="address.errors?.['minlength']">
              El apellido debe tener como mínimo 2 caracteres.
            </div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-order">
        <mat-form-field appearance="fill" class="input-form"> <!--Formulario de la contraseña-->
          <mat-label>Ingrese una contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Escribe una contraseña"
            id="password"
            name="password"
            class="form-control input-form"
            required
            minlength="7"
            [(ngModel)]="usuario1.password"
            #password="ngModel"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert"
          >
            <div *ngIf="password.errors?.['required']">
              Es necesario una contraseña.
            </div>
            <div *ngIf="password.errors?.['minlength']">
              La contraseña debe tener como mínimo 7 caracteres.
            </div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-order">
        <mat-form-field class="input-form" appearance="fill"> <!--Formulario del telefono-->
          <mat-label>Telefono móvil</mat-label>
          <span matPrefix>+549 &nbsp;</span>
          <input type="tel"
          id="tel"
          name="tel"
          class="form-control input-form"
          required
          minlength="10"
          [(ngModel)]="usuario1.cellphone"
          #tel="ngModel"
          matInput placeholder="15-1234-5678" />
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error
            *ngIf="tel.invalid && (tel.dirty || tel.touched)"
            class="alert"
          >
            <div *ngIf="tel.errors?.['required']">
              El teléfono es requerido.
            </div>
            <div *ngIf="tel.errors?.['minlength']">
              El teléfono debe tener como mínimo 10 numeros.
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="buttons-form">
      <button mat-button>Ya tengo cuenta</button>
      <div *ngIf="name.valid && lastname.valid && emailFormControl.valid && tel.valid && password.valid && address.valid">
        <button mat-button (click)="signUp();">Enviar</button>
      </div>
      
      
    </div>
  </div>
</div>
